.background-radial-gradient {
  background-color: hsl(218, 30%, 85%);
  background-image: radial-gradient(650px circle at 0% 0%,
    hsl(218, 30%, 75%) 15%,
    hsl(218, 30%, 70%) 35%,
    hsl(218, 30%, 60%) 75%,
    hsl(218, 30%, 55%) 80%,
    transparent 100%),
  radial-gradient(1250px circle at 100% 100%,
    hsl(218, 30%, 75%) 15%,
    hsl(218, 30%, 65%) 35%,
    hsl(218, 30%, 55%) 75%,
    hsl(218, 30%, 50%) 80%,
    transparent 100%);  
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.container-fluid{
  height: 100vh;
}

.ripple{
  height:38px;
}
/* General Table Styles */
.MuiTableContainer-root {
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.MuiTable-root {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

.MuiTableCell-root {
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  margin-left: -200px !important;
}

.MuiTableHead-root {
  background-color: #1976d2;
}

.MuiTableCell-head {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.MuiTableCell-body {
  font-size: 16px;
  color: #333;
  vertical-align: middle;
  word-break: break-word;
}

/* Row Hover Effect */
.MuiTableRow-root:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Image Styling */
.MuiTableCell-body img {
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.MuiTableCell-body img:hover {
  transform: scale(1.2);
}

/* Price Styling */
.MuiTableCell-body .price {
  font-weight: bold;
  color: #388e3c; /* Green for price */
}

/* Status Styling */
.MuiTableCell-body .status {
  font-weight: bold;
}

.MuiTableCell-body .in_stock {
  color: green;
}

.MuiTableCell-body .out_of_stock {
  color: red;
}


/* Responsive Design for smaller screens */
@media (max-width: 768px) {
  .MuiTableCell-root {
      padding: 12px;
      font-size: 14px;
  }
  
  .MuiTable-root {
      font-size: 12px;
  }
  
  .MuiTableContainer-root {
      box-shadow: none;
      padding: 0;
  }
}

